<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="author" content="">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title>MER APP</title><link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300i,400,400i,500,500i,600,600i,700&amp;display=swap" rel="stylesheet">
  <link rel="stylesheet" href="%PUBLIC_URL%/template/user_chikery/plugins/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="%PUBLIC_URL%/template/user_chikery/plugins/bootstrap4/css/bootstrap.min.css">
  <link rel="stylesheet" href="%PUBLIC_URL%/template/user_chikery/plugins/owl-carousel/assets/owl.carousel.css">
  <link rel="stylesheet" href="%PUBLIC_URL%/template/user_chikery/plugins/slick/slick/slick.css">
  <link rel="stylesheet" href="%PUBLIC_URL%/template/user_chikery/plugins/lightGallery-master/dist/css/lightgallery.min.css">
  <link rel="stylesheet" href="%PUBLIC_URL%/template/user_chikery/plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css">
  <link rel="stylesheet" href="%PUBLIC_URL%/template/user_chikery/plugins/jquery-ui/jquery-ui.min.css">
  <link rel="stylesheet" href="%PUBLIC_URL%/template/user_chikery/plugins/select2/dist/css/select2.min.css">
  <link rel="stylesheet" href="%PUBLIC_URL%/template/user_chikery/plugins/chikery-icon/style.css">
  <link rel="stylesheet" href="%PUBLIC_URL%/template/user_chikery/css/style.css">
</head>
<body>
<div id="main-mer"></div>
<!-- Plugins-->
<!--<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>-->
<script src="%PUBLIC_URL%/template/user_chikery/plugins/jquery-1.12.4.min.js"></script>
<script src="%PUBLIC_URL%/template/user_chikery/plugins/owl-carousel/owl.carousel.min.js"></script>
<script src="%PUBLIC_URL%/template/user_chikery/plugins/bootstrap4/js/bootstrap.min.js"></script>
<script src="%PUBLIC_URL%/template/user_chikery/plugins/imagesloaded.pkgd.js"></script>
<script src="%PUBLIC_URL%/template/user_chikery/plugins/masonry.pkgd.min.js"></script>
<script src="%PUBLIC_URL%/template/user_chikery/plugins/isotope.pkgd.min.js"></script>
<script src="%PUBLIC_URL%/template/user_chikery/plugins/jquery.matchHeight-min.js"></script>
<script src="%PUBLIC_URL%/template/user_chikery/plugins/slick/slick/slick.min.js"></script>
<script src="%PUBLIC_URL%/template/user_chikery/plugins/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
<script src="%PUBLIC_URL%/template/user_chikery/plugins/slick-animation.min.js"></script>
<script src="%PUBLIC_URL%/template/user_chikery/plugins/lightGallery-master/dist/js/lightgallery-all.min.js"></script>
<script src="%PUBLIC_URL%/template/user_chikery/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="%PUBLIC_URL%/template/user_chikery/plugins/sticky-sidebar/dist/sticky-sidebar.min.js"></script>
<script src="%PUBLIC_URL%/template/user_chikery/plugins/jquery.slimscroll.min.js"></script>
<script src="%PUBLIC_URL%/template/user_chikery/plugins/select2/dist/js/select2.full.min.js"></script>
<script src="%PUBLIC_URL%/template/user_chikery/plugins/gmap3.min.js"></script>
<!-- Custom scripts-->
<script src="%PUBLIC_URL%/template/user_chikery/js/main.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxflHHc5FlDVI-J71pO7hM1QJNW1dRp4U&amp;region=GB"></script>
</body>
</html>